/*====================================================*/
@media only screen and (max-width: 780px)
{
	.container
		{
			width: 100%;
			margin: auto;
		}
	header
	{
		border-top: 5px solid #ff3333; 
		position: fixed;
		display: block;
		width: 100%;
		z-index: 5;
		background-color: black;
		height: 70px;
	}
	*
	{
		padding: 0;
		margin: 0;
		font-family: tahoma;
	}
	a
	{
		text-decoration: none;
	}
	li
	{
		list-style: none;
	}
	/*=====================End of default=========*/

	.navbar-brand
	{
		border-left: 5px solid #ff3333;
		position: absolute;
		bottom: 8px;
		margin-left: 5px;
		font-size: 20px;
		padding: 15px 20px;
		background-color: white;
	}
	.navbar-brand a
	{
		position: relative;
		color: black;
		overflow: hidden;
	}
	.navbar-brand a .log-icon
	{
		font-family: 30px;
		color: #ff3333;
	}
	.navbar-brand a::after
	{
		content: "";
		z-index: 1;
		position: absolute;
		border-style: solid;
		border-width: 15px;
		right: -35%;
		border-color: transparent transparent transparent  white;
	}
	.navbar-nav
	{
		position: absolute;
		z-index: 1;
		right: -50%;
		top: 105%;
		transition: .5s;
	}
	.navbar-nav li
	{
		float: none;
	}
	.navbar-nav a
	{
		color: white;
		position: relative;
		display: block;
		padding: 15px 20px;
		bottom: 5px;
	}
	.navbar-nav a:hover,
	.active
	{
		background-color: #ff3333;
	}
	.navbar{
		background-color: #000000;
		width: 200%;
		text-align: center;
		display: block;
	}

	.menu-button
	{
		position: absolute;
		height: 50px;
		width: 50px;
		top: 10px;
		left: 92%;
		cursor: pointer;
	}
	.menu-icon
	{
		background-color: #ffffff;
		position: absolute;
		height: 5px;
		width: 40px;
		left: 5px;
		top: 25px;
		transition: .5s;
	}
	.menu-icon::before,
	.menu-icon::after
	{
		content: '';
		background-color: #ffffff;
		position: absolute;
		height: 5px;
		width: 40px;
		transition: .5s;
	}
	.menu-icon::before
	{
		top: 10px;
	}
	.menu-icon::after
	{
		bottom: 10px;
	}
	.active .menu-icon
	{
		background-color: rgba(0,0,0,0);
	}
	.active .menu-icon::before
	{
		top: 0;
		transform: rotate(45deg);
	}
	.active .menu-icon::after
	{
		bottom: 0;
		transform: rotate(145deg);
	}
	.active .navbar-nav
	{
		right: 12%;
	}
	.content-header h1
	{
		position: relative;
		background-color: rgba(0,0,0,.70);
		border-radius: 30px;
		padding: 30px 0 20px 0;
		width: 200px;
		left: 40%;
		margin-bottom: 10px;
		font-size: 55px;
	}
	.container h1::after{
		content: "";
		z-index: 1;
		position: absolute;
		border-color: rgba(0,0,0,.70) transparent transparent transparent;
		border-width: 20px;
		border-style: solid;
		left: 20%;
		bottom: -34.5%;
	}
	#descriptions #web-design div
	{
		display: block;
		width: 80%;
		margin: auto;
	}
	#descriptions #responsive-design div
	{
		 display: block;
		 width: 80%;
		 margin: auto;
	}
	#descriptions #backend-serverside div
	{
		display: block;
		width: 80%;
		margin: auto;
	}
}
@media only screen and (max-width: 990px)
{
	.content-header-wrapper::after
	{
		left: 49%;
	}
	#web-tech-detail #html,
	#web-tech-detail #css,
	#web-tech-detail #js,
	#web-tech-detail #NodeJS
	{
		display: block;
		padding: 50px 0;
		width: 80%;
		margin: auto;
	}
}