/*===============================================================
Bawal edit mahihirapan kayo sa pag debug.
nakaka lito kaso tong codes ko.
===============================================================*/
*
{
	padding: 0;
	margin: 0;
	font-family: tahoma;
}
a
{
	text-decoration: none;
}
li
{
	list-style: none;
}
header
{
	border-top: 5px solid #ff3333; 
	position: fixed;
	display: block;
	width: 100%;
	z-index: 5;
	background-color: black;
	height: 100px;
	transition: .50s;
}
.container
{
	width: 80%;
	margin: auto;

}
/*========================================================*/
.navbar-brand
{
	border-left: 5px solid #ff3333;
	position: absolute;
	bottom: 5px;
	font-size: 20px;
	padding: 15px 20px;
	background-color: white;
}
.navbar-brand a
{
	position: relative;
	color: black;
	overflow: hidden;
}
.navbar-brand a .log-icon
{
	font-family: 30px;
	color: #ff3333;
}
.navbar-brand a::after
{
	content: "";
	z-index: 1;
	position: absolute;
	border-style: solid;
	border-width: 15px;
	right: -35%;
	border-color: transparent transparent transparent  white;
}
.navbar-nav
{
	position: absolute;
	right: 10%;
	bottom: 20px;
}
.navbar-nav
{
	top: 50%;
}
.navbar-nav li
{
	float: left;
}
.navbar-nav a
{
	color: white;
	position: relative;
	display: block;
	padding: 15px 20px;
	bottom: 5px;
	transition: .50s;
}
.navbar-nav a:hover,
.active
{
	background-color: #ff3333;
}
/*=============================End navigation========================*/
.main-wrapper
{
	position: relative;
	z-index: 1;
}
.content-header-wrapper
{
	top: 105px;
}
.content-header
{
	padding: 150px 0;
	text-align: center;
}

.content-header h1
{
	position: relative;
	background-color: rgba(0,0,0,.70);
	border-radius: 30px;
	padding: 30px 0 20px 0;
	width: 200px;
	left: 39%;
	margin-bottom: 10px;
	font-size: 55px;
}
.container h1::after{
	content: "";
	z-index: 1;
	position: absolute;
	border-color: rgba(0,0,0,.70) transparent transparent transparent;
	border-width: 20px;
	border-style: solid;
	left: 40%;
	bottom: -34.5%;
}
.content-header h2
{
	margin: 0 0 20px 0;
}
.content-header h1, h2, p
{
	color: white;
}
.content-header .icon-showcase{
	font-size: 100px;
	position: relative;
	margin-top: 20px;
	left: -17px;
	color: white;
}
.content-header p
{
	position: relative;
	width: 60%;
	margin: auto auto 20px auto;
	font-size: 20px;
	padding: 15px;
	background-color:rgba(0,0,0,0.70);
}
.content-header a
{
	position: relative;
	padding: 10px 20px;
	font-size: 20px;
	color: white;
	border: 1px solid white;
	top: 15px;
}
.content-header a:hover
{
	background-color: #ff1a1a;
	transition: .20s ease;
}
.content-header-wrapper
{
	top: 0;
	background-image: url("../img/background.jpg");
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.content-header-wrapper::after
{
	content: "";
	z-index: 1;
	position: relative;
	top: -30px;
	left: 50%;
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent #ff3333 transparent;
}
/*=========================end of content header =====================*/
#web-tech-detail #html-css-js-node-wrapper
{
	position: relative;
	border-bottom: 5px solid #ffffff;
}
#web-tech-detail #html-css-js-node-wrapper::after{
	content: "";
	z-index: 1;
	bottom: -40px;
	left: 50%;
	position: absolute;
	border-style: solid;
	border-width: 20px;
	border-color: #ffffff transparent transparent transparent;
}
#web-tech-detail
{
	position: relative;
	top: -10px; 
	width: 100%;
	background-color: #ff3333;
	text-align: center;
}
#web-tech-detail #html,
#web-tech-detail #css,
#web-tech-detail #js,
#web-tech-detail #NodeJS
{
	display: inline-block;
	padding: 50px 10px;
	width: 22%;
	margin: auto;
}
#web-tech-detail #html h2,
#web-tech-detail #css h2,
#web-tech-detail #js h2,
#web-tech-detail #NodeJS h2
{
	margin-bottom: 5px;
}
#web-tech-detail #html span,
#web-tech-detail #css span,
#web-tech-detail #js span,
#web-tech-detail #NodeJS span
{
	margin-bottom: 10px;
	font-size: 100px;
}
#web-tech-detail #html p,
#web-tech-detail #css p,
#web-tech-detail #js p,
#web-tech-detail #NodeJS p
{
	line-height: 20px;
}
#web-tech-detail #html span
{
	font-size: 110px;
	color: #ff9900;
}
#web-tech-detail #css span
{
	color: #0000ff;
}
#web-tech-detail #js span
{
	color: #ffff00;
}
#descriptions
{
	position: relative;
	top: 50px;
}
/*=============================End web content details===========================*/
#descriptions
{
	position: relative;
	display: block;
	overflow: hidden;
	padding-bottom: 50px;
}
/*=====================================End of section==========================================*/
#web-design{
	left: 10%;
	position: relative;
	margin: 30px 0px 50px 0;
	overflow: hidden;
}
#descriptions #web-design div
{
	float: left;
	width: 40%;
}
#descriptions #web-design div img
{
	height: 300px;
	width: 300px;
	padding: 10px 20px;
}
#descriptions #web-design .web-design-content
{
	position: relative;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: rgb(0,0,0);
	height: auto;
}
#descriptions #web-design .web-design-content::after{
	content: "";
	z-index: 1;
	position: absolute;
	top: 50%;
	right: -40px;
	border-width: 20px;
	border-color: transparent transparent transparent #000000;
	border-style: solid;
}
#descriptions #web-design .web-design-content p
{
	font-size: 20px;
	padding: 10px 20px;
}
#descriptions #web-design .web-design-content h2
{
	font-size: 50px;
	margin: 20px 0;
}
/*=================================End web design===========================*/
#responsive-design
{
	position: relative;
	overflow: hidden;
	margin: 30px 0px 50px 0;
	right: 10%
}
#descriptions #responsive-design div
{
	 float: right;
	 width: 40%;
}
#descriptions #responsive-design div img
{
	height: 300px;
	width: 300px;
	padding: 10px 20px;
}
#descriptions #responsive-design .responsive-design-content
{
	position: relative;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: rgb(0,0,0);
	height: auto;
}
#descriptions #responsive-design .responsive-design-content::after{
	content: "";
	z-index: 1;
	position: absolute;
	top: 50%;
	left: -40px;
	border-width: 20px;
	border-color: transparent #000000 transparent transparent;
	border-style: solid;
}
#descriptions #responsive-design .responsive-design-content p
{
	font-size: 20px;
	padding: 10px 20px;
}
#descriptions #responsive-design .responsive-design-content h2
{
	font-size: 50px;
	margin: 20px 0;
}
/*==================================End of responsive design=================================*/
#backend-serverside{
	left: 10%;
	margin: 30px 0px 50px 0;
	position: relative;
	margin: 30px 0px 50px 0;
	overflow: hidden;
}
#descriptions #backend-serverside div
{
	float: left;
	width: 40%;
}
#descriptions #backend-serverside div img
{
	height: 300px;
	width: 300px;
	padding: 10px 20px;
}
#descriptions #backend-serverside .backend-serverside-content
{
	position: relative;
	padding: 10px 5px;
	border: 1px solid black;
	background-color: rgb(0,0,0);
	height: auto;
}
#descriptions #backend-serverside .backend-serverside-content::after{
	content: "";
	z-index: 1;
	position: absolute;
	top: 50%;
	right: -40px;
	border-width: 20px;
	border-color: transparent transparent transparent #000000;
	border-style: solid;
}
#descriptions #backend-serverside .backend-serverside-content p
{
	font-size: 20px;
	padding: 10px 20px;
}
#descriptions #backend-serverside .backend-serverside-content h2
{
	font-size: 50px;
	margin: 20px 0;
}
/*=====================================end of backend servide===========================*/
#social-media
{
	position: relative;
	text-align: center;
	font-size: 50px;
	margin: 50px 0;
}
#social-media::after
{
	top: -100px;
	left: 50%;
	position: absolute;
	content: "";
	z-index: 1;
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent #ffffff transparent;
}
#social-media h2
{
	padding: 10px 0;
	color: black;
	font-size: 20px;
}
#social-media a
{
	padding: 10px 20px;
}
#social-media .facebook
{
	color: #3333ff;
}
#social-media .google
{
	color: #ff1a1a;
}
#social-media .twitter
{
	color: #3366ff;
}
/*=========================End of social media===========================*/
.socket
{
	position: relative;
		padding: 10px 0;
	background-color: #000000;
}
.socket p
{
	text-align: center;
}
/*=====================================End of socket footer======================================*/
.back-top-button
{
	visibility: hidden;
	cursor: pointer;
	z-index: 5;
	position: fixed;
	background-color:#ffffff;
	padding: 5px;
	border-radius: 8px;
	color: #ff3333;
	bottom: -20%;
	right: 2%;
	font-size: 40px;
	transition: .50s;
}

.on .back-top-button
{
	transform: rotate(720deg);
	bottom: 5%;
	visibility: visible;
}
#back-top-button:hover
{
	color: #000000;
}